.article-landing {
    width: 100vw;
    height: 568px;
    background-image: url("https://ik.imagekit.io/vicharm/九份/50188569871_7430e1dc46_o_i701rkfVT.jpeg?updatedAt=1637218853301");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    .container {
        position: absolute;
        bottom: 20px;
        color: white;
        background-color: #4A4B2F;
        opacity: 0.8;
        padding: 15px 50px;
        border-radius: 15px;

        span {
            font-size: 24px;
            font-weight: 600;
        }

        p {
            font-size: 18px;
            font-weight: 300;
        }
        .cta {
            background-color: transparent;
            color: white;
            border: 1px solid white;
            font-size: 14px;
            width: 120px;
            height: 36px;
        }       
    }

    @media (min-width: 375px) {
        height: 667px;
    }

    @media (min-width: 768px) {
        .container {
            padding: 20px 80px;
            span {
                font-size: 28px;
            }

            p {
                font-size: 20px;
                font-weight: 300;
            }
            .cta {
                background-color: transparent;
                color: white;
                border: 1px solid white;
                font-size: 16px;
                width: 150px;
                height: 42px;
            } 
        }
        
    }

    @media (min-width: 1024px) {
        height: 900px;
    }

    @media (min-width: 1440px) {
        .container {
            bottom: 50px;
            padding: 30px 100px;
            span {
                font-size: 36px;
            }

            p {
                font-size: 24px;
            }
            .cta {
                background-color: transparent;
                color: white;
                border: 1px solid white;
                font-size: 20px;
                width: 200px;
                height: 50px;
            }       
        }
    }
}