.article-list {
    background-color: #f7f7f7;
    .top-landing {
        background-image:url("../public/50319289022_9a55220e77_o.webp");
        width: 100%;
        height: 50vh;
        background-size: cover;
        background-position: bottom;
    }
}