html,
body {
  padding: 0;
  margin: 0;
  font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.mr-0 {
  margin-right: 0 !important;
}

* {
  box-sizing: border-box;
}

