@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif;
  background-color: #f9fafb;
  color: #1e293b;
}

h1 {
  color: #0f172a;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family : inherit;
}

* {
  box-sizing: border-box;
}

