@import "styles/variables";

.trip-list {
    background-color: $desert-storm;
    .top-landing {
        width: 100%;
        height: 300px;
        
        .background {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }

        @media (min-width: 768px) {
            height: 500px;
        }

        @media (min-width: 1024px) {
            height: 600px;
        }
    }
}